* {
    margin: 0 0 0 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0 0 0 0;
    position: relative;
    text-align: center;
    background: #222;
    color: #FFF;
    font-family: monospace;
}

/* General Elements that will be Reused */

.new-section {
    color: white;
    font-size: 4rem;
    text-shadow: 0 0 5px black;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

/* Top/Navbar Elements */


#svg-waves-top {
    top: 0;
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 10;
}

#empty-div-top {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 2vh;
    background-color: #C62368;
    width: 100vw;
    z-index: 10;
}

#navbar {
    position: fixed;
    top: 2vh;
    left: 0;
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    text-shadow: 0 0 2px black;
    z-index: 10;
}

#navbar li {
    list-style: none;
    display: inline;
    justify-content: space-around;
}

#navbar a {
    text-decoration: none;
    color: white;
}

/* Welcome Section */

.grid-container-welcome {
    display: grid;
    align-items: center;
    margin: auto;
    width: 80vw;
    padding: 20vh 0 0 0; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "profile-photo my-name my-name svg"
        "profile-photo my-name-sub my-name-sub svg";
}

#profile-photo {
    grid-area: profile-photo;
    border-style: solid;
    border-width: 10px;
    border-color: #DD3F82;
    border-radius: 50%;
}

.im-connor {
    grid-area: my-name;
    color: white;
    font-size: 4.5rem;
    text-shadow: 0 0 7px black;
}

.im-connor-sub {
    grid-area: my-name-sub;
    color: white;
    font-size: 2.5rem;
    text-shadow: 0 0 5px black;
}

#hex-svg-wrapper {
    grid-area: svg;
}

/* About Me Section */

#about-me-head {
    padding-bottom: 5vh;
}

#about-me-text {
    font-size: 2.25rem;
    line-height: 3rem;
    text-align: justify;
    margin: auto;
    width: 90vw;
}

/* Projects Section */

#projects-head {
    padding-bottom: 10vh;
}

#projects-grid-container {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: auto 5vw auto 5vw;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "img1 img1 text1"
        "text2 img2 img2"
        "img3 img3 text3"
        "text4 img4 img4";
}

.proj-img {
    width: auto;
    height: 50vh;
    grid-column: span 2;
    box-shadow: 0 0 15px black;
    border-style: solid;
    border-color: #DD3F82;
    border-width: 10px;
    border-radius: 50px;
}

.proj-text {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    text-shadow: 0 0 3px black;
    border-style: solid;
    border-color: #DD3F82;
    border-width: 2rem;
    border-radius: 25px;
    background-color: #DD3F82;
}

.proj-link {
    position: relative;
    z-index: 10;
}

/* Contact Me Section */

.contact-links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10vh;
    color: white;
    text-decoration: none;
}

.contact-me {
    color: white;
    text-decoration: none;
    z-index: 10;
}