* {
    margin: 0 0 0 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0 0 0 0;
    position: relative;
    text-align: center;
    color: #FFF;
    font-family: monospace;
    background-color: #222222;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' opacity='0.5' width='700' height='700' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23810036' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23A30D4C'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: scroll;
    z-index: 9;
}

/* General Elements that will be Reused */

.new-section {
    color: white;
    font-size: 4rem;
    text-shadow: 0 0 5px black;
    padding-top: 15vh;
    padding-bottom: 10vh;
}

.wrapper {
    max-height: 15vh;
}

/* Top/Navbar Elements */


#svg-waves-top {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}

#empty-div-top {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 2vh;
    background-color: #C62368;
    width: 100vw;
    z-index: 999;
}

#navbar {
    position: fixed;
    top: 2vh;
    left: 0;
    min-height: 10vh;
    max-height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 4vh;
    text-shadow: 0 0 2px black;
    z-index: 999;
}

#navbar li {
    transition: ease-out, 0.3s;
    list-style: none;
    display: inline;
    justify-content: space-between;
}

.navlink:hover {
    font-weight: bold;
    text-shadow: 0 0 5px black;
}

#navbar a {
    text-decoration: none;
    color: white;
}

/* Welcome Section */

.grid-container-welcome {
    display: grid;
    align-items: center;
    margin: auto;
    width: 80vw;
    padding: 20vh 0 0 0; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "profile-photo my-name my-name svg"
        "profile-photo my-name-sub my-name-sub svg";
}

#profile-photo {
    grid-area: profile-photo;
    border-radius: 25px;
    width: 85%;
    height: auto;
}

.im-connor {
    grid-area: my-name;
    color: white;
    font-size: 5rem;
    text-shadow: 0 0 7px black;
}

span {
    display: inline-block;
    transform: translateY(-25vh);
    animation: fallingName 100000s linear 1;
    animation-fill-mode: forwards;
}

@keyframes fallingName {
    0% { transform: translateY(-25vh); }
    0.00075% { transform: translateY(0vh); }
    0.00125% { transform: translateY(-3vh); }
    0.00175% {transform: translateY(0vh); }
    0.002% { transform: translateY(-1vh); }
    0.00275% {transform: translateY(0vh); }
    100% { transform: translateY(0vh); }
}

span:nth-child(2) {
    animation-delay: 1.2s;
}
span:nth-child(3) {
    animation-delay: 1.65s;
}
span:nth-child(4) {
    animation-delay: 0.75s;
}
span:nth-child(5) {
    animation-delay: 0.6s;
}
span:nth-child(6) {
    animation-delay: 0.3s;
}
span:nth-child(7) {
    animation-delay: 1.05s;
}
span:nth-child(8) {
    animation-delay: 0.9s;
}
span:nth-child(9) {
    animation-delay: 0.45s;
}
span:nth-child(10) {
    animation-delay: 1.5s;
}
span:nth-child(11) {
    animation-delay: 0.15s;
}
span:nth-child(12) {
    animation-delay: 1.35s;
}

@keyframes imConnorColor {
    0% { color: white; }
    1% { color: #5EE7FF; }
    100% { color: white; }
}
/*
span:hover {
    animation: imConnorColor 100s linear 1;
}
*/
.im-connor-sub {
    grid-area: my-name-sub;
    color: white;
    font-size: 2.75rem;
    text-shadow: 0 0 5px black;
    animation: fallingNameSub 100000s ease 1;
}

@keyframes fallingNameSub {
    0% { opacity: 0; scale: 0.1; }
    0.00475% { opacity: 0; scale: 0.1; }
    0.00725% { opacity: 1; scale: 1; }
    100% { opacity: 1; scale: 1; }
}

#hex-svg-wrapper {
    grid-area: svg;
    background-color: #222222;
    /*border-radius: 50%;*/
}

/* About Me Section */

#about-me-head {
    padding-bottom: 10vh;
}

#about-me-text {
    font-size: 2.5vh;
    line-height: 5vh;
    text-align: justify;
    margin: auto;
    width: 69vw;
}

/* Projects Section */

#projects-head {
    padding-bottom: 10vh;
}

#projects-grid-container {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: auto 5vw auto 5vw;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "img1 img1 text1"
        "text2 img2 img2"
        "img3 img3 text3"
        "text4 img4 img4";
    z-index: 10;
}

.proj-img {
    width: auto;
    height: 40vh;
    grid-column: span 2;
    box-shadow: 0 0 15px black;
    border-style: solid;
    border-width: 0px;
    border-radius: 50px;
    animation: projImgBorder 30s infinite;
}

#proj-img-wheel, #proj-img-music {
    animation: projImgBreathing 7.5s linear infinite;
}

#proj-img-number, #proj-img-oldsite {
    animation: projImgBreathing2 7.5s linear infinite;
}

/*
@keyframes projImgBorder {
    0% { border-color: #E66199 }
    11% { border-color: #DD3F82  }
    22% { border-color: #D31B68 }
    33% { border-color: #A8074B }
    44% { border-color: #810036 }
    55% { border-color: #810036 }
    66% { border-color: #A8074B  }
    77% { border-color: #D31B68 }
    88% { border-color: #DD3F82 }
    100% { border-color: #E66199 }
}
*/

@keyframes projImgBreathing {
    0% { scale: 1 }
    50% { scale: 1.03 }
    100% { scale: 1 }
}

@keyframes projImgBreathing2 {
    0% { scale: 1.03 }
    50% { scale: 1 }
    100% { scale: 1.03 }
}

.proj-text {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    text-shadow: 0 0 3px black;
    padding: 1rem;
    border-width: 2rem;
    border-radius: 25px;
    background-color: #DD3F82;
}

#proj-text-wheel, #proj-text-music {
    animation:
        projtextbackground 30s linear infinite,
        projTextJump 15s ease infinite;
}

#proj-text-number, #proj-text-oldsite {
    animation: 
        projtextbackground 30s linear infinite,
        projTextJump2 15s ease infinite;
}

@keyframes projtextbackground {
    0% { background-color: #E66199 }
    11% { background-color: #DD3F82  }
    22% { background-color: #D31B68 }
    33% { background-color: #A8074B }
    44% { background-color: #810036 }
    55% { background-color: #810036 }
    66% { background-color: #A8074B  }
    77% { background-color: #D31B68 }
    88% { background-color: #DD3F82 }
    100% { background-color: #E66199 }
}

@keyframes projTextJump {
    0% { transform: translateY(0px) }
    3.35% { transform: translateY(-12.5px) }
    5.025% { transform: translateY(0px) }
    8.375% { transform: translateY(-12.5px) }
    10.05% { transform: translateY(0px) }
    100% { transform: translateY(0px) }
}

@keyframes projTextJump2 {
    0% { transform: translateY(0px) }
    50% {transform: translateY(0px) }
    53.35% { transform: translateY(-15px) }
    55.025% { transform: translateY(0px) }
    58.375% { transform: translateY(-15px) }
    60.05% { transform: translateY(0px) }
    100% { transform: translateY(0px) }
}

/* Contact Me Section */

#contact-me-head {
    font-size: 3rem;
}

.contact-links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10vh;
    color: white;
    text-decoration: none;
}

.contact-me {
    transition: 0.35s ease-out;
    transform: translateY(-12.5px);
    scale: 0.5;
    color: white;
    text-decoration: none;
    z-index: 10;
}

.contact-me:hover {
    scale: 0.6;
    transform: translateY(12.5px);
    transition: ease-in, 0.7s;
}


/*
.c {
    transform: translateY(-25vh);
    animation: fallingC 100000s linear 1;
}

.o1 {
    transform: translateY(-25vh);
    animation: fallingO1 100000s 0.1s linear 1;
}

.n1 {
    transform: translateY(-25vh);
    animation: fallingN1 100000s linear 0.2s 1;
}

.n2 {
    transform: translateY(-25vh);
    animation: fallingN2 100000s linear 0.3s 1;
}

.o2 {
    transform: translateY(-25vh);
    animation: fallingO2 100000s linear 0.4s 1;
}

.r1 {
    transform: translateY(-25vh);
    animation: fallingR1 100000s linear 0.5s 1;
}

.k {
    transform: translateY(-25vh);
    animation: fallingK 100000s linear 0.6s 1;
}

.o3 {
    transform: translateY(-25vh);
    animation: fallingO3 100000s linear 0.7s 1;
}

.r2 {
    transform: translateY(-25vh);
    animation: fallingR2 100000s linear 0.8s 1;
}

.m {
    transform: translateY(-25vh);
    animation: fallingM 100000s linear 0.9s 1;
}

.o4 {
    transform: translateY(-25vh);
    animation: fallingO4 100000s linear 1s 1;
}

.s {
    transform: translateY(-25vh);
    animation: fallingS 100000s linear 1.1s 1;
}

@keyframes fallingC {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@keyframes fallingO1 {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@keyframes fallingN1 {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@keyframes fallingN2 {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@keyframes fallingO2 {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@keyframes fallingR1 {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@keyframes fallingK {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@keyframes fallingO3 {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@keyframes fallingR2 {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@keyframes fallingM {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@keyframes fallingO4 {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@keyframes fallingS {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}
*/

/*
.im-connor {
    grid-area: my-name;
    color: white;
    font-size: 5rem;
    text-shadow: 0 0 7px black;
    transform: translateY(-25vh);
    animation: fallingName 100000s linear 1;
}

@keyframes fallingName {
    0% { transform: translateY(-25vh); }
    0.0025% { transform: translateY(0); }
    100% { transform: translateY(0); }
}
*/